html,body{
  min-height: 100%;
  padding-bottom: 50px;
}

.jumbotron{
  background-color: #20264C;
  color: #fff;
}

.btn-theme{
  background-color: #20264C;
  color: #fff;
  font-weight: bold;
  border-color: #fff;
}
.btn{
  text-transform: uppercase;
}
.btn-default{
  text-transform: uppercase;
  background-color: #ccc;
}
.btn-theme:focus,.btn-theme:hover{
  color: #fff;
}

.thumbnail img{
  /*height: 250px;*/
  /*width: auto;*/
}

.btn-transparent{
  background-color: transparent;
  color: #fff;
  border-color: #fff;
}

.btn-transparent:hover,.btn-transparent:focus{
  background-color: #fff;
  color: #20264C;
}


.hidden{
  visibility: hidden;
}
