#canvas-container{
  margin-top: 30px;
}


.ico{
  width: 80px;
  height: 80px;
}

.ico:hover{
  cursor: pointer;
  background-color: #5B534E;
}

.ico.selected{
  background-color: #5B534E;
}

.card{
  width: 300px;
}
